@{
    ViewData["Title"] = "ToDo";
}
<h1>Your ToDo's</h1>
<div style="margin-top: 15px;">
    <form method="get" enctype="multipart/form-data" asp-controller="Home" asp-action="ToDo" style="display: flex; flex-direction: column;">
        <label for="Title">Title</label>
        <select name="Title">
            <option value="Shopping">Shopping</option>
            <option value="Animal">Animal</option>
            <option value="Habits">Habits</option>
        </select>
        <label form="Description">Description</label>
        <textarea name="Description" rows="5"></textarea>
        <input style="margin-top:15px; margin-bottom: 25px;" type="submit" />
    </form>
<div>
<div>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Delete</th>
        </tr>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Delete">
        @foreach (ToDoModel todo in ViewBag.toDos)
            {
                   <tr>
                       <td>@todo.Title</td>
                       <td>@todo.Description</td>
                        <td><button class="button-7" name=id value=@todo.Id role="button">X</button></td>
                   </tr> 
            }
         </form>
    </table>
</div>
