@using WebApplication2.Controllers;
@{
    ViewData["Title"] = "Unathorized";
}
<h2>You must be logged in to see this page</h2>
<p>You have got an account? <a href="@Url.Action("Account", "Home")">Login here</a></p>
